<div class="Footer">
  <div class="Container Footer__container">
    <div class="Copyright">
      <%= image_tag("common/service-logo.svg", class: "Copyright__logo") %>

      <p class="Copyright__text">Copyright &copy; Potepan Shop <%= Time.current.year %> All rights reserved</p>
    </div>

    <div class="Sns">
      <p class="Sns__title">Follow us on</p>

      <ul class="Sns__list">
        <li class="SnsList__item">
          <%= image_tag("icons/sns/facebook.svg") %>
        </li>

        <li class="SnsList__item">
          <%= image_tag("icons/sns/pinterest.svg") %>
        </li>

        <li class="SnsList__item">
          <%= image_tag("icons/sns/instagram.svg") %>
        </li>

        <li class="SnsList__item">
          <%= image_tag("icons/sns/twitter.svg") %>
        </li>
      </ul>
    </div>
  </div>
</div>
