<title><%= full_title(yield(:title)) %></title>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= favicon_link_tag('favicon.ico') %>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap" rel="stylesheet">